.Stars {
    position: absolute;
    bottom: 1.3rem;
    left: 1.3rem;
}

.Stars .Stars_star{
    width: 1.2rem;
    object-fit: cover;
    /* background-color: #e7e7e7;
    clip-path: polygon(50% 0%, 70% 34%, 100% 36%, 77% 62%, 83% 100%, 50% 85%, 15% 100%, 22% 64%, 0% 36%, 32% 32%); */
}

.Stars .Stars_star:not(:last-child) {
    margin-right: .3rem;
}